# .gitignore - ЭТОТ ФАЙЛ ТОЖЕ КОММИТИТСЯ

# dependencies
backend/node_modules/
frontend/node_modules/

# environment variables
.env
.env.local
.env.development
.env.production

# logs
*.log
npm-debug.log*

# builds
/dist
/build